body {
    background: linear-gradient(#ffeeee, #ab3c3c);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

main {
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr;
    grid-gap: 2em;
    max-width: 1000px;
    margin: 0 auto;
}

#section1 {
    padding: 50px;
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 0px 0px 15px 15px;
    padding-top: 100px;
    height: 400px;
}

.hidden {
    display: none;
}

.type-wrapper {
    width: 500px;
    /* height: 540px; */
    margin: 2em auto;
    overflow: hidden;
    position: relative;
}

svg {
    width: 100%;
}

.project-header {
    /* margin: 10px 0 10px; */
    font-size: 2.5em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.project-subhead {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 2em;
    padding: 5px;
}

.questionIcon {
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 175px;
    width: auto;
    opacity: 0;
}

.controls {
    text-align: center;
    margin-top: 2em;
}

.controls button {
    padding: 20px 30px;
    cursor: pointer;
    margin: 1.5em;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    box-shadow: 0 6px #ab3c3c;
    background: #cb4e4e;
    color: #fff;
}

.controls button:hover {
    background: #e65d5d;
    box-shadow: 0 4px #ab3c3c;
}

.controls button:focus {
    outline: none;
}

.text-anim {
    animation: fadewords .5s forwards;
}

.container-turn {
    animation: turncontainer 0.2s linear forwards;
    /* animation-delay: 4.5s; */
}

.questionIcon-anim {
    animation: questionAnim 1.5s forwards;
    animation-delay: 3s;
}

path {
    opacity: 0;
}


/* doing okay */

#Hey {
    animation-delay: 2.15s;
}

#ahhh {
    animation-delay: 2.3s;
}

#y-you {
    animation-delay: 3.1s;
}

#doing {
    animation-delay: 3.3s;
}

#okay {
    animation-delay: 4s;
}


/* start of line 2 - i kinda know how you feel */

#i {
    animation-delay: 1s;
}

#kinda {
    animation-delay: 1.25s;
}

#know {
    animation-delay: 1.5s;
}

#how {
    animation-delay: 1.6s;
}

#you {
    animation-delay: 1.8s;
}

#feel {
    animation-delay: 2s;
}

#summer {
    animation-delay: 2.2s;
}


/* start of line3 animations - no you dont...*/

#_3-1 {
    animation-delay: .14s;
}

#_3-2 {
    animation-delay: .18s;
}

#_3-3 {
    animation-delay: .27s;
}

#_3-4 {
    animation-delay: .6s;
}

#_3-5 {
    animation-delay: .8s;
}

#_3-6 {
    animation-delay: 1s;
}

#_3-7 {
    animation-delay: 1.2s;
}

#_3-8 {
    animation-delay: 1.4s;
}

#_3-9 {
    animation-delay: 1.6s;
}

#_3-10 {
    animation-delay: 1.8s;
}

#_3-11 {
    animation-delay: 2s;
}

#_3-12 {
    animation-delay: 2.2s;
}

#_3-13 {
    animation-delay: 2.4s;
}

#_3-14 {
    animation-delay: 2.6s;
}

#_3-15 {
    animation-delay: 2.8s;
}

#_3-16 {
    animation-delay: 3s;
}

#_3-17 {
    animation-delay: 3.3s;
}

#_3-18 {
    animation-delay: 3.4s;
}

#_3-19 {
    animation-delay: 3.5s;
}

#_3-20 {
    animation-delay: 3.6s;
}

#_3-21 {
    animation-delay: 3.7s;
}


/* end of line 3 animations */


/* start of line 4 animations - can i show you something */

#_4-1 {
    animation-delay: 1s;
}

#_4-2 {
    animation-delay: 1.1s;
}

#_4-3 {
    animation-delay: 1.2s;
}

#_4-4 {
    animation-delay: 1.4s;
}

#_4-5 {
    animation-delay: 1.5s;
}


/* end of line 4 animations */


/* start of line 5 animations - morty no offense */

#_5-1 {
    animation-delay: .1s;
    /* morty*/
}

#_5-2 {
    animation-delay: 0.2s;
    /* no*/
}

#_5-3 {
    animation-delay: .4s;
    /* offense*/
}

#_5-4 {
    animation-delay: 0.6s;
    /* but*/
}

#_5-5 {
    animation-delay: 0.8s;
    /* a*/
}

#_5-6 {
    animation-delay: 1s;
    /* drawing*/
}

#_5-7 {
    animation-delay: 1.1s;
    /* you*/
}

#_5-8 {
    animation-delay: 1.15s;
    /* made*/
}

#_5-9 {
    animation-delay: 1.2s;
    /* of*/
}

#_5-10 {
    animation-delay: 1.25s;
    /* me*/
}

#_5-11 {
    animation-delay: 1.4s;
    /* when */
}

#_5-12 {
    animation-delay: 1.8s;
    /* you*/
}

#_5-13 {
    animation-delay: 2s;
    /* were*/
}

#_5-14 {
    animation-delay: 2.2s;
    /* 8*/
}

#_5-15 {
    animation-delay: 2.4s;
    /* isnt*/
}

#_5-16 {
    animation-delay: 2.6s;
    /* going*/
}

#_5-17 {
    animation-delay: 2.8s;
    /* to*/
}

#_5-18 {
    animation-delay: 3s;
    /* make*/
}

#_5-19 {
    animation-delay: 3.2s;
    /* me*/
}

#_5-20 {
    animation-delay: 3.3s;
    /* feel*/
}

#_5-21 {
    animation-delay: 3.4s;
    /* like*/
}

#_5-22 {
    animation-delay: 3.5s;
    /* less*/
}

#_5-23 {
    animation-delay: 3.6s;
    /* of*/
}

#_5-24 {
    animation-delay: 3.7s;
    /* an*/
}

#_5-25 {
    animation-delay: 3.8s;
    /* accident*/
}


/* start of line 6 - thats my grave */

#_6-1 {
    animation-delay: .5s;
}

#_6-2 {
    animation-delay: .7s;
}

#_6-3 {
    animation-delay: .9s;
}

#_6-4 {
    animation-delay: 1.7s;
}

#_6-5 {
    animation-delay: 1.8s;
}

#_6-6 {
    animation-delay: 2s;
}

#grave {
    animation-delay: 2.1s;
}


/* start of line 7 */

#_7-1 {
    animation-delay: .5s;
}

#_7-2 {
    animation-delay: 1s;
}


/* start of animation 8 */

#_8-1 {
    animation-delay: .5s;
    /* on */
}

#_8-2 {
    animation-delay: .6s;
    /* one */
}

#_8-3 {
    animation-delay: .7s;
    /* of */
}

#_8-4 {
    animation-delay: .8s;
    /* our */
}

#_8-5 {
    animation-delay: 1s;
    /* adventures */
}

#_8-6 {
    animation-delay: 1.2s;
    /* rick*/
}

#_8-7 {
    animation-delay: 1.4s;
    /* and*/
}

#_8-9 {
    animation-delay: 1.8s;
    /* i */
}

#_8-10 {
    animation-delay: 2s;
    /* basically*/
}

#_8-11 {
    animation-delay: 2.2s;
    /* destroyed */
}

#boom {
    animation-delay: 2.2s;
}

#_8-12 {
    animation-delay: 2.6s;
    /* the */
}

#_8-13 {
    animation-delay: 3s;
    /* whole*/
}

#_8-14 {
    animation-delay: 3.2s;
    /* world */
}

#_8-15 {
    animation-delay: 4s;
    /* so */
}

#_8-16 {
    animation-delay: 4.17s;
    /* we */
}

#_8-17 {
    animation-delay: 4.25s;
    /* bailed */
}

#_8-18 {
    animation-delay: 5s;
    /* on*/
}

#_8-19 {
    animation-delay: 5.1s;
    /* that */
}

#_8-20 {
    animation-delay: 5.4s;
    /* reality */
}

#_8-21 {
    animation-delay: 5.8s;
    /* and*/
}

#_8-22 {
    animation-delay: 6s;
    /* we*/
}

#_8-23 {
    animation-delay: 6.1s;
    /* came */
}

#_8-24 {
    animation-delay: 6.2s;
    /*to */
}

#_8-25 {
    animation-delay: 6.3s;
    /* this */
}

#_8-26 {
    animation-delay: 6.4s;
    /* one */
}

#_8-27 {
    animation-delay: 7s;
    /* because */
}

#_8-28 {
    animation-delay: 7.2s;
    /* in */
}

#_8-29 {
    animation-delay: 7.4s;
    /*this */
}

#_8-30 {
    animation-delay: 7.6s;
    /* one*/
}

#_8-31 {
    animation-delay: 8s;
    /* the */
}

#_8-32 {
    animation-delay: 8.2s;
    /* world */
}

#_8-33 {
    animation-delay: 8.4s;
    /* wasnt */
}

#_8-34 {
    animation-delay: 8.6s;
    /* destroyed */
}

#_8-35 {
    animation-delay: 9.2s;
    /* & */
}

#_8-36 {
    animation-delay: 9.4s;
    /* in */
}

#_8-37 {
    animation-delay: 9.6s;
    /* this */
}

#_8-38 {
    animation-delay: 9.8s;
    /* one */
}

#_8-39 {
    animation-delay: 10s;
    /* we */
}

#_8-40 {
    animation-delay: 10.2s;
    /* were */
}

#_8-41 {
    animation-delay: 10.25s;
    /* dead */
}


/* start of line 9 */

#_9-1 {
    animation-delay: 0.2s;
    /*so*/
}

#_9-2 {
    animation-delay: 0.4s;
    /*we*/
}

#_9-3 {
    animation-delay: 0.6s;
    /*came*/
}

#_9-4 {
    animation-delay: 0.8s;
    /*here*/
}

#_9-5 {
    animation-delay: 1.13s;
    /*and*/
}

#_9-6 {
    animation-delay: 1.8s;
    /*we*/
}

#_9-7 {
    animation-delay: 2s;
    /*barried*/
}

#dig {
    animation-delay: 2.1s;
}

#_9-8 {
    animation-delay: 2.2s;
    /*ourselves*/
}

#_9-9 {
    animation-delay: 2.4s;
    /*and*/
}

#_9-10 {
    animation-delay: 2.6s;
    /*we*/
}

#_9-11 {
    animation-delay: 2.8s;
    /*took*/
}

#_9-12 {
    animation-delay: 3s;
    /*their*/
}

#_9-13 {
    animation-delay: 3.2s;
    /*place*/
}


/* start of line 10 */

#_10-1 {
    animation-delay: 0.2s;
    /*and*/
}

#_10-2 {
    animation-delay: 0.4s;
    /*every*/
}

#_10-3 {
    animation-delay: 0.6s;
    /*morning*/
}

#_10-4 {
    animation-delay: 0.8s;
    /*summer*/
}

#_10-5 {
    animation-delay: 1.1s;
    /*i*/
}

#_10-6 {
    animation-delay: 1.2s;
    /*eat*/
}

#_10-7 {
    animation-delay: 1.4s;
    /*breakfast*/
}

#_10-8 {
    animation-delay: 2s;
    /*20yrds*/
}

#_10-9 {
    animation-delay: 2.5s;
    /*away*/
}

#_10-10 {
    animation-delay: 3.5s;
    /*from*/
}

#_10-11 {
    animation-delay: 4s;
    /*my*/
}

#_10-12 {
    animation-delay: 4.25s;
    /*own*/
}

#_10-13 {
    animation-delay: 4.75s;
    /*rotting*/
}

#_10-14 {
    animation-delay: 5s;
    /*corps*/
}

#corps {
    animation-delay: 5.1s;
}


/* start of line 11 */

#_11-1 {
    animation-delay: .4s;
    /*so*/
}

#_11-2 {
    animation-delay: 1.1s;
    /*youre*/
}

#_11-3 {
    animation-delay: 1.3s;
    /*not*/
}

#_11-4 {
    animation-delay: 1.5s;
    /*my */
}

#_11-5 {
    animation-delay: 1.7s;
    /*brother*/
}

#_11-6 {
    animation-delay: 2s;
    /*im*/
}

#_11-7 {
    animation-delay: 2.3s;
    /*better*/
}

#_11-8 {
    animation-delay: 2.5s;
    /*than*/
}

#_11-9 {
    animation-delay: 2.7s;
    /*your*/
}

#_11-10 {
    animation-delay: 2.9s;
    /*brother*/
}

#_11-12 {
    animation-delay: 3.3s;
    /*im*/
}

#_11-13 {
    animation-delay: 3.3s;
    /*im*/
}

#_11-14 {
    animation-delay: 3.6s;
    /*a*/
}

#_11-11 {
    animation-delay: 3.8s;
    /*version*/
}

#_11-15 {
    animation-delay: 4s;
    /*your*/
}

#_11-16 {
    animation-delay: 4.2s;
    /*brother*/
}

#_11-17 {
    animation-delay: 4.4s;
    /*you*/
}

#_11-18 {
    animation-delay: 4.6s;
    /*can*/
}

#_11-19 {
    animation-delay: 4.8s;
    /*trust*/
}

#_11-20 {
    animation-delay: 5s;
    /*when*/
}

#_11-21 {
    animation-delay: 5.2s;
    /*he*/
}

#_11-22 {
    animation-delay: 5.4s;
    /*says*/
}

#_11-23 {
    animation-delay: 5.6s;
    /*dont*/
}

#_11-24 {
    animation-delay: 5.8s;
    /**/
}

#_11-25 {
    animation-delay: 6s;
    /*run*/
}


/* start of line 12 */

#_12-1 {
    animation-delay: .07s;
    /*nobody*/
}

#_12-2 {
    animation-delay: .2s;
    /*exists*/
}

#_12-3 {
    animation-delay: .5s;
    /*on*/
}

#_12-4 {
    animation-delay: .8s;
    /*purpose*/
}

#_12-5 {
    animation-delay: 2s;
    /*nobody*/
}

#_12-6 {
    animation-delay: 2.2s;
    /*belongs*/
}

#_12-7 {
    animation-delay: 2.4s;
    /*anywhere*/
}

#_12-8 {
    animation-delay: 3s;
    /*everybody*/
}

#_12-9 {
    animation-delay: 3.3s;
    /*going*/
}

#_12-10 {
    animation-delay: 3.7s;
    /*to*/
}

#_12-11 {
    animation-delay: 4s;
    /*die*/
}

#_12-12 {
    animation-delay: 5s;
    /*come*/
}

#_12-13 {
    animation-delay: 5.5s;
    /*watch*/
}

#_12-14 {
    animation-delay: 6s;
    /*tv*/
}

#tv {
    animation-delay: 6.1s;
}

@keyframes fadewords {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes turncontainer {
    100% {
        transform: rotate(90deg) scale(5);
        opacity: 0;
    }
}

@keyframes questionAnim {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    80% {
        transform: scale(1.5);
        opacity: 1;
        top: auto;
        left: auto;
    }
}


/* text2 animation start */