.hidden {
    display: none;
}

.type-wrapper {
    width: 540px;
    height: 540px;
    border: thin solid black;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

svg {
    width: 100%;
    background-color: burlywood;
}

.project-header {
    margin: 30px 0 10px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.project-subhead {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
}

.questionIcon {
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 175px;
    opacity: 0;
}

.controls {
    text-align: center;
}

.controls button {
    padding: 20px;
    cursor: pointer;
    margin-top: 1.5em;
    border-radius: 1em;
}

.text-anim {
    animation: fadewords .1s forwards;
}

.container-turn {
    animation: turncontainer 0.2s linear 1s forwards;
    animation-delay: 4.5s;
}

.questionIcon-anim {
    animation: questionAnim 1.5s forwards;
    animation-delay: 3s;
}

path {
    opacity: 0;
}

#Hey {
    animation-delay: 2.15s;
}

#ahhh {
    animation-delay: 2.3s;
}

#y-you {
    animation-delay: 3.1s;
}

#doing {
    animation-delay: 3.3s;
}

#okay {
    animation-delay: 4s;
}

#i {
    animation-delay: 1s;
}

#kinda {
    animation-delay: 1.25s;
}

#know {
    animation-delay: 1.5s;
}

#how {
    animation-delay: 1.6s;
}

#you {
    animation-delay: 1.9s;
}

#feel {
    animation-delay: 2s;
}

#summer {
    animation-delay: 2.3s;
}


/* start of line3 animations */

#_3-1 {
    animation-delay: 3s;
}

#_3-2 {
    animation-delay: .3s;
}

#_3-3 {
    animation-delay: .5s;
}

#_3-4 {
    animation-delay: .8s;
}

#_3-5 {
    animation-delay: 1s;
}

#_3-6 {
    animation-delay: 1.2s;
}

#_3-7 {
    animation-delay: 1.4s;
}

#_3-8 {
    animation-delay: 1.6s;
}

#_3-9 {
    animation-delay: 1.7s;
}

#_3-10 {
    animation-delay: 1.8s;
}

#_3-11 {
    animation-delay: 1.9s;
}

#_3-12 {
    animation-delay: 2.5s;
}

#_3-13 {
    animation-delay: 2.7s;
}

#_3-14 {
    animation-delay: 2.9s;
}

#_3-15 {
    animation-delay: 3.1s;
}

#_3-16 {
    animation-delay: 3.2s;
}

#_3-17 {
    animation-delay: 3.3s;
}

#_3-18 {
    animation-delay: 3.4s;
}

#_3-19 {
    animation-delay: 3.5s;
}

#_3-20 {
    animation-delay: 3.6s;
}

#_3-21 {
    animation-delay: 3.7s;
}


/* end of line 3 animations */


/* start of line 4 animations */

#_4-1 {
    animation-delay: 1s;
}

#_4-2 {
    animation-delay: 1.1s;
}

#_4-3 {
    animation-delay: 1.2s;
}

#_4-4 {
    animation-delay: 1.4s;
}

#_4-5 {
    animation-delay: 1.5s;
}


/* end of line 4 animations */

@keyframes fadewords {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes turncontainer {
    100% {
        transform: rotate(90deg) scale(5);
        opacity: 0;
    }
}

@keyframes questionAnim {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    80% {
        transform: scale(1.5);
        opacity: 1;
        top: auto;
        left: auto;
    }
}


/* text2 animation start */